# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

.venv
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.coverage
coverage.xml
.DS_Store
celerybeat-schedule*
.#*
\#*#
*~
_build
.vscode
.pytest_cache/

htmlcov
venv
.direnv
node_modules
.serverless
.pytest_cache
*.tar.gz
